#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* font-size: px; */
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  width: 98%;
  /* border: 1px solid blue; */
  margin: 10px;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: blue !important;
}

html:root {
  --swiper-navigation-size: 0px;
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-width: 15px;
}
