.sectionA {
  background-image: url(https://assets.loseit.com/website/home/Wave.png),
    linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: top, bottom;
  padding: 50px 0px;
  /* width: 100%; */
  width: auto;
}
.sectionB {
  background-image: url(https://assets.loseit.com/website/home/Wave.png),
    linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
  background-size: 100% 600px;
  background-repeat: no-repeat;
  background-position: top, bottom;
  padding: 40px 0px;
  /* width: 100%; */
  width: auto;
}
.big {
  color: #455555;
  font-size: 50px;
  width: 70%;
  font-weight: 900;
  margin-bottom: 10px;
}
.small {
  color: #455555;
  font-size: 40px;
  width: 70%;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}
.leftImage {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* transition-duration: 2s; */
}
.centerImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallHeading {
  display: flex;
  flex-direction: column;
}
.smalltop {
  color: #183962;
  /* color: red; */
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}
.bigtop {
  color: #183962;
  /* color: red; */
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}
